<?xml version="1.0" encoding="UTF-8"?>
<phpunit strict="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Portal Test Suite">
            <directory suffix="Test.php" phpVersion="5.3.2" phpVersionOperator=">=">tests/library</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APPLICATION_ENV" value="test" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/application/library</directory>
            <exclude>
                <directory>src/application/library/Test</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
