<?php

// define some environment constants
define('APPLICATION_ENV', getenv('APPLICATION_ENV') ?: 'production');
define('APPLICATION_PATH', getcwd());
define('APPLICATION_CACHE_PATH', APPLICATION_PATH . '/src/application/cache');

// configure PHP by environment
ini_set('display_errors', (APPLICATION_ENV != 'production'));

// set the default cache lifetime
define('CACHE_DEFAULT_LIFETIME', 86400);

// if a proxy is defined, use it
if (APPLICATION_ENV == 'production') {
    define('HTTPS_PROXY', 'tcp://proxy.traderonline.com:80');
}

// define GitHub constants
define('GITHUB_ENT_URL', 'https://github.example.com');
define('GITHUB_ENT_HTTP_TOKEN', '1234567890123456789012345678901234567890');
define('GITHUB_COM_HTTP_TOKEN', '1234567890123456789012345678901234567890');
